<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  >
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1.0"
  >
  <link
    rel="icon"
    href="<%= BASE_URL %>favicon.ico"
  >
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  >

  <title>
    Book Records
  </title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%=
        htmlWebpackPlugin.options.title
        %
      > doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>