<template lang="">
    <div class=container>
        <div class="row">

            <div class="col-6 mx-auto">
                <MyForm />
            </div>
        </div>
        
    </div>
</template>
<script lang="ts">
import MyForm from '@/components/MyForm.vue'

export default {
    name: 'addBook',
    components: { MyForm }
}
</script>
<style lang="">
    
</style>