<template>
  <div>
    <h1>MY HOME PAGE</h1>
  </div>

  <div class="container">
    <div class="row">
      <div
        class="col-12"
        v-if=" !books.length "
      >
        <h2>ไม่มีรายการ</h2>
      </div>

      <div
        class="col-md-4"
        v-for="(      book, index      ) in books"
      >
        <MyCard
          :bookDetail=" book "
          :index=" index "
        >
        </MyCard>


      </div>
    </div>

  </div>
</template>

<script lang="ts">
import MyCard from "@/components/MyCard.vue";
import { computed } from 'vue';
import { useStore } from 'vuex';

// @ is an alias to /src

export default {
  name: 'home',
  components: { MyCard },
  setup () {
    const store = useStore()

    return {
      // access a state in computed function
      books: computed( () => store.state.books ),
    }
  }
}
</script>

<style lang="css">
.container {
  margin-top: 50px;
}

h1 {
  margin-top: 50px;
}
</style>
